ul,
li {
    display: block;
}

.header {
    margin: 0px auto;
    max-width: 1170px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.header__container {
    display: flex;
    min-height: 102px;
    align-items: center;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/* menu items */

.menu__link_main {
    margin-right: 76px;
    text-decoration: none;
    color: #333;
    border: 1px solid;
    border-radius: 0;
    padding: 3.89px 16px 3.89px 14px;
    border-left-color: transparent;
    border-right-color: transparent;
}

.menu__link_gallery {
    margin-right: 61px;
    text-decoration: none;
    color: #333;
}

.menu__link_projects {
    margin-right: 55px;
    text-decoration: none;
    color: #333;
}

.menu__link_certification {
    margin-right: 49px;
    text-decoration: none;
    color: #333;
}

.menu__link_contacts {
    margin-right: 134px;
    text-decoration: none;
    color: #333;
}