.main {
    font-family: 'Roboto', sans-serif;
}

.main__h1 {
    font-weight: 300;
    color: #BDBDBD;
}

.main__h2 {
    font-weight: 700;
    color: #333333;
}

.main__hr {
    background: #F2F2F2;
    border: none;
    height: 1px;
    margin-bottom: 30px;
}

.main__pics_desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media screen and (min-width:1024px) {
    .main {
        margin: 63px 135px 120px;
        font-family: 'Roboto', sans-serif;
    }

    .main__h1 {
        font-size: 64px;
        line-height: 64px
    }

    .main__h2 {
        font-size: 64px;
        line-height: 64px;
    }

    .main__pics_desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .main__pic {
        width: 100%;
    }

    .main__pics_adaptive {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .main {
        padding: 0 10% 10%;
    }

    .main__h1 {
        font-size: 3em;
        line-height: 1em;
        text-align: center;
    }

    .main__h2 {
        font-size: 2em;
        line-height: 1em;
    }

    .main__hr {
        background: #F2F2F2;
        border: none;
        height: 1px;
        margin-bottom: 30px;
    }

    .main__pics_desktop {
        display: none;
    }

    .main__pic {
        width: 90%;
        margin: 10%;
    }
}

@media screen and (max-width:767px) {
    .main {
        padding: 0 30px;
    }

    .main__h1 {
        font-size: 3em;
        line-height: 1em;
        text-align: center;
    }

    .main__h2 {
        font-size: 1em;
        line-height: 1em;
    }

    .main__pics_desktop {
        display: none;
    }

    .main__pic {
        margin: 0 10%;
        width: 100%;
    }

    .main__pics_adaptive {
        margin-bottom: 60px;
    }
}