.body__container {
    width: 80vw;
    margin: 0 auto 12% auto;
}

.certifications__header {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    padding-top: 10%;
}

.certifications__title {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 4em;
    color: #BDBDBD;
}

.certifications__subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 4em;
    color: #333333;
}

.color-text-carousel {
    color: #2C2C2C;
}

@media screen and (max-width: 767px) {

    .certifications__title {
        font-size: 2em;
    }
    
    .certifications__subtitle {
        font-size: 2em;
    }
}