.main {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.main__hr {
    background: #F2F2F2;
    border: none;
    height: 1px;
    margin-bottom: 29px;
}

.main__h1 {
    font-weight: 300;
    color: #BDBDBD;
}

.main__span {
    font-weight: 700;
    color: #333333;
}

.main__article {
    background-color: #FBFBFB;
}

.main__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.main__h2 {
    font-weight: 300;
    color: #BDBDBD;
}

.main__p {
    font-weight: 300;
    color: #000000;
}

.main__button {
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    padding: 24px 52px;
    border: none;
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    margin-top: auto;
    text-decoration: none;
}

.main__button:after {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    background: url('../our-projects-pics/black-arrow.svg') no-repeat;
}

.main__under {
    display: flex;
    flex-direction: row;
    margin-top: 71px;
    margin-bottom: 110px;
    align-items: center;
    gap: 30px;
}

.main__numbers {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #BDBDBD;
    word-spacing: 1em;
}

.main__number-left {
    color: #333333;
}

.main__number-right {
    color: #BDBDBD;
}

.main__arrows {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.arrow {
    border: 1px solid #F2F2F2;
    padding: 15px;
}

.arrow:hover {
    background-color: #F9F9F9;
}

.arrow-left {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media screen and (min-width:1024px) {
    .main {
        max-width: 1170px;
        padding: 47px 76px 60px;
    }

    .main__h1 {
        font-size: 64px;
        line-height: 64px;
    }

    .main__span {
        font-size: 64px;
        line-height: 64px;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 60px;
    }

    .main__article {
        display: grid;
        grid-template-columns: 670px 1fr;
        grid-template-rows: 1fr;
    }

    .main__image {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .main__h2 {
        font-size: 40px;
        line-height: 47px;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .main__p {
        font-size: 16px;
        line-height: 25px;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .main__button-container {
        justify-self: flex-end;
        margin-top: auto;
    }

    .main__button {
        font-size: 12px;
        line-height: 12px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .main {
        padding: 2em 2.5em 0;
        margin: auto;
    }

    .main__h1 {
        font-size: 3em;
        line-height: 2em;
        text-align: center;
    }

    .main__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main__article:last-child:nth-child(2n - 1) {
        grid-column: 1/-1;
    }

    .main__image {
        width: 100%;
        object-fit: cover;
    }

    .main__h2 {
        font-size: 2em;
        line-height: 1.5em;
        text-align: center;
        margin: 15px;
    }

    .main__p {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .main__button-container {
        text-align: center;
    }

    .main__button {
        font-size: 1em;
        line-height: 1em;
    }

    .main__under {
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
    }
}

@media screen and (max-width:767px) {
    .main {
        margin: 1em;
    }

    .main__h1 {
        font-size: 2em;
        line-height: 1.5em;
        text-align: center;
    }

    .main__span {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .main__article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__image {
        width: 100%;
        height: 10em;
        object-fit: cover;
    }

    .main__h2 {
        font-size: 2em;
        line-height: 1.5em;
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
    }

    .main__p {
        font-size: 1.5em;
        line-height: 1.5em;
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }

    .main__button-container {
        justify-self: flex-end;
        text-align: center;
    }

    .main__button {
        font-size: 1em;
        line-height: 1em;
        align-items: center;
        margin: auto;
        justify-self: center;
    }

    .main__under {
        flex-direction: column;
        margin-top: 2em;
        margin-bottom: 10%;
    }
}