.body__container {
    width: 80vw;
    margin: 0 auto;
}

.project-sample__header {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    padding-top: 10%;
}

.project-sample__title {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 4em;
    color: #BDBDBD;
}

.project-sample__subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 4em;
    color: #333333;
}

.project__img {
    width: 100%;
    height: 100%;
}

.project-sample {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, auto);
    row-gap: 1.1rem;
}

.project-sample__header {
    grid-column: 1/12;
}

.project-sample__pict-up {
    grid-column: 1/12;
}

.project-sample__middle-pict {
    grid-column: 1/5;
}

.project-sample__middle-text {
    grid-column: 5/12;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6em;
    color: #000000;
    text-align: justify;
    padding-left: 3%;
}

.project-sample__pict-down {
    grid-column: 1/12;
    padding-bottom: 10%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .project-sample__middle-pict {
        grid-column: 4/9;
    }
    
    .project-sample__middle-text {
        grid-column: 1/12;
    }
    
    .project-sample__pict-down {
        grid-column: 1/12;
    }

    .project__img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 767px) {

    .project-sample {
        row-gap: 0.5rem;
        column-gap: 0;
    }

    .project-sample__title {
        font-size: 2em;
    }
    
    .project-sample__subtitle {
        font-size: 2em;
    }
    
    .project-sample__middle-pict {
        grid-column: 4/9;
    }
    
    .project-sample__middle-text {
        grid-column: 1/12;
        font-size: 0.8em;
        line-height: 1.6em;
    }
    
    .project-sample__pict-down {
        grid-column: 1/12;
    }

    .project__img {
        width: 100%;
        height: 100%;
    }
}